@import './components/Dice.scss';

.game {
    &__row {
        padding: 10px;

        &--image-row {
            display: none;
        }

        &.is-show {
            display: block;
        }
    }
    
    &__wrapper {
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-weight: normal;
    }
    &__logo {
        text-align: center;
    }

    &__dice-items {
        display: flex;
        align-items: center;
        flex-direction: column;
        position: relative;
    }

    &__dice-items-row {
        display: flex;
    }

    &__error-message {
        color: red;
        font-weight: 300;
    }

    &__modal-backdrop {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.3);
    }

    &__modal {
        position: absolute;
        background-color: white;
        border-radius: 18px;
        z-index: 1000;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    &__dice-button {
        padding: 20px;
        position: absolute;
        white-space: nowrap;
        border-radius: 18px;
        top: 50%;
        left: 50%;
        z-index: 2;
        transform: translate(-50%, -50%);
    }

    &__new-game-link {
        text-decoration: underline;
        font-weight: 300;
        cursor: pointer;
    }

    &__toggle-link {
        border-bottom: 1px dashed black;
        font-weight: 300;
        cursor: pointer;

        span {
            pointer-events: none;
        }

        span:nth-child(2) {
            display: none;
        }

        &.is-show {
            span:nth-child(1) {
                display: none;
            }
            span:nth-child(2) {
                display: inline;
            }
        }
    }
}