.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-style: italic;

  &__big-text {
    font-size: 8vw;
  }

  &__small-text {
    font-size: 4vw;
    letter-spacing: 0.4vw;
  }
}
